@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Orbitron:wght@700&display=swap');

* 
{
    margin: 0;
    padding: 0;

}
body{
    background-color: #181717;
    }
body > header
    {
    background-color: #121212;
    }
#main_title{
    color: #66b933;
    font-family: 'PT Mono', sans-serif;
    font-weight: 1000 !important;
    margin: 20px;
    margin-right: auto;
    }
#main_heading
    {
       border: 5px double #66b933;
       border-radius: 25px;
       padding-left: 10px;
    }
footer
    {
       color: #fff;
    }
#best_products
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
}
#best
{
    color: #66b933;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
#best::after
{
    content: '';
    background: #fff;
    display: block;
    height: 3px;
    width: 300px;
    margin: 20px auto 5px;
    margin-top: 10px;
}
.row
{
    display: flex;
    justify-content: center;
}
.profile-pic
{
    margin-top: 25px;
    
}
.profile-pic .img-box
{
    opacity: 1;
    display: block;
    position: relative;
    margin: 10px;
    border: 5px solid rgb(36, 65, 24);
    border-radius: 100px;
    
}
.profile-pic .img-box img
{
    height: 450px;
    width: 450px;
    margin-bottom: -4px;
    border-radius: 95px ;
    box-shadow: 0 0 1px rgb(109, 240, 148);
    box-shadow: inset;
    transition: ease-in-out 0.5s;
}
.profile-pic .img-box img:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 40px rgb(109, 240, 148);
    box-shadow: inset ;
    /* transition: all 1s; */
    /* transition: ease-out 1s; */
    transition: ease-in-out 0.5s;;
  }
.profile-pic h3 
{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
} 
.profile-pic h3::after
{
    content: '';
    background: #fff;
    display: block;
    height: 2px;
    width: 100px;
    margin: 20px auto 5px;
    margin-top: 7px;
}
